{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create/Update Patient" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">
            {% if patient %}
                {% trans "Update Patient" %}
            {% else %}
                {% trans "Create New Patient" %}
            {% endif %}
        </h1>
        
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% if patient %}{% url 'app_patient:patient_detail' patient.pk %}{% else %}{% url 'app_patient:patient_list' %}{% endif %}" class="btn btn-secondary me-md-2">{% trans "Cancel" %}</a>
                        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}