asgiref==3.9.1
crispy-bootstrap5==2023.10
django==4.2.10
django-bootstrap5==23.3
django-crispy-forms==2.1
django-modeltranslation==0.18.11
python-dotenv==1.0.1
pip==25.2
sqlparse==0.5.3
typing-extensions==4.15.0
tzdata==2025.2